@inherits LayoutComponentBase

@using Jija.Models;
@using Jija.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject StateChangedService StateChangedService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: flex-end;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="row" id="navbarSupportedContent">
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-link" href="/">@context.User.Identity.Name<span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/" @onclick="LogOut">Logout<span class="sr-only">(current)</span></a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="register-button" href="/account/register">Register</a>
                        <a class="login-button" href="/account/login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
        </div>

    </nav>

    <div class="content px-4">
        @Body
    </div>

    @code {
        private async Task LogOut()
        {
            await localStorage.RemoveItemAsync("token");
            StateChangedService.SetAuthenticationState(Task.FromResult(new AuthenticationState(new ClaimsPrincipal(new ClaimsIdentity()))));
            StateChangedService.NotifyStateChanged();
        }
    }

</div>