<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Jija</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/account/profile" Match="NavLinkMatch.All">
                        <span class="oi oi-info" aria-hidden="true"></span> Profile
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/repositories" Match="NavLinkMatch.All">
                        <span class="oi oi-list" aria-hidden="true"></span> Repositories
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/projects" Match="NavLinkMatch.All">
                        <span class="oi oi-fork" aria-hidden="true"></span> Projects  
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/invites" Match="NavLinkMatch.All">
                        <span class="oi oi-bell" aria-hidden="true"></span> Invites  
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
