@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background: rgb(36,41,46);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .right-align{
        display: flex;
        justify-content: flex-end;
        justify-items: flex-end;
    }

    .std-button {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: #fff;
        margin-left: 10px;
        border-radius: 3px;
        font-family: "Arial";
        font-weight: 700;
        padding: 0 30px;
        height: 32px;
        border-radius: 4px;
        font-size: 13px;
        text-decoration: none !important;
    }
    
    .std-button:hover {
        color: #444d56;
    }
    
    .register-button {
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        margin-left: 10px;
        border-radius: 3px;
        font-family: "Arial";
        font-weight: 700;
        padding: 0 30px;
        height: 32px;
        border-radius: 4px;
        font-size: 13px;
        text-decoration: none !important;
    }

    .register-button:hover {
        color: #444d56;
        border: 1px solid #444d56;
    }
    
    .topline{
        height: 3.5rem;
        background-color: #15191c;
        justify-content: flex-end;
        border-bottom: 0;
    }

    .login {
        width: 340px;
        margin: 0 auto;
    }

    .login_header {
        margin-bottom: 15px;
        color: #333;
        text-align: center;
        text-shadow: none;
        background-color: initial;
        border: 0;
        font-size: 14px;
    }

    .login_text {
        font-weight: 600;
        font-size: 14px;
    }

    .login_border {
        border: 1px solid #d8dee2;
        padding: 20px;
        border-radius: 5px;
        margin: 20px;
    }

    .register {
        width: 500px;
        margin: 0 auto;
    }

    .underline_nav {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
        border-bottom: 1px solid #e1e4e8;
        justify-content: space-between;
    }

    .nav_item {
        padding: 16px 8px;
        margin-right: 4px !important;
        border-bottom: 2px solid transparent;
    }

    .nav_item_active {
        font-weight: 600;
        color: #24292e;
        border-bottom-color: #e36209;
    }

    .nav_item:hover {
        color: #24292e;
        text-decoration: none;
        border-bottom-color: #d1d5da;
        transition: .2s ease;
    }

    li {
        list-style-type: none;
    }

    .list_item__title {
        color: #0366d6 !important;
        text-decoration: none;
    }

    .list_item__description {
        color: #586069 !important;
        margin-top: -10px;
        padding-right: 24px !important;
        margin-bottom: 8px !important;
        font-size: 14px;
    }

    .avatar {
        border: 1px solid #e1e4e8;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .card-fullname {
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        color: #24292e;
        display: block !important;
    }

    .card-std-text {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        color: #666;
        display: block !important;
    }
    .edit-profile-btn {
        position: relative;
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        white-space: nowrap;
        vertical-align: middle;
        background-repeat: repeat-x;
        background-position: -1px -1px;
        background-size: 110% 110%;
        border: 1px solid rgba(27,31,35,.2);
        border-radius: .25em;
    }
    .block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .element{
        width: 100%;
        margin: 50px;
    }

    .bth-width{
        width: 200px;
    }

    .create_project_container{
        max-width: 700px;
        margin: 50px auto;
    }

    .create_project_title{
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e4e8;;
    }

    .project_card{
        max-width: 250px;
        background:
                aliceblue;
        padding: 10px 20px;
        border-radius: 10px;
        margin: 10px;

    }

    .project_chips{
        display: inline-block;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        padding: 4px 10px;
        border-radius: 20px;
    }

    .project_chips_owner{
        background-color: #525457;
        color: white;
    }

    .project_chips_contributor{
        background-color: #311a5f;
        color: white;
    }

    .project_card__title{
        font-size: 18px;
        font-weight: 600;
    }

    .project_card_descriprtion{
        font-size: 16px;
        color: gray;
    }

    .task-list {
        min-width: 355px;
        max-width: 355px;
        border-width: 1px !important;
        border-radius: 6px !important;
        background-color: #eff1f3;
        margin: 25px;
    }

    .task-list__header {
        display: flex;
        padding: 10px;
        align-items: center;
        border-bottom: 3px solid
        cornflowerblue;
        justify-content: center;
        border-radius: 15px;
    }

    .tasklistname {
        font-size: 20px;
        padding: 3px 10px;
    }

    .invite-form{
        border: 1px solid;
        max-width: 350px;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 10px 40px 25px;
    }

    .tasklist_form{
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
    }

    .task_form{
        background:white;
        margin-bottom: 10px;
        border-radius: 10px;
        border: solid 2px antiquewhite;
        padding: 10px;
    }
}
