@page "/projects"
@attribute [Authorize]

@using Jija.Models
@using Jija.Services
@using Jija.Models.Account
@using Jija.Models.Core

@inject DbService DbService
@inject IProjectService ProjectService
@inject IRepoService RepoService

<div class="p-2" style="flex:1;">
    <div class="underline_nav">
        <nav class="d-flex">
            <a class="nav_item nav_item_active">
                 Projects
            </a>
        </nav>
    </div>
</div>

@code {

    Models.Account.User user;
    
    List<Project> ownedProjects;
    List<Project> contributedProjects;
    List<Invite> invites;
    List<Repository> repos;

    protected override async Task OnInitializedAsync()
    {
        contributedProjects = new List<Project>();
        repos = new List<Repository>();

        user = await DbService.GetAll();

        ownedProjects = user.OwnedProjects;
        repos = user.Repositories;
        invites = user.Invites;
        
        user.ContributedProjects.ForEach(p => contributedProjects.Add(p.Project));
    }

    
    
}